/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif */
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; /* devo mettere il link nel head dell'html */
}

i {
    margin: 0 0.7em;
}
a {
    text-decoration: none;
    color: white;
}

button {
    padding: 5px 15px;
    border-radius: 2em;
    background-color: white;
}

/* Customs Proprierties */


:root {
    /* --border: 2px dashed black; */
}

:root {
    --inter-padding: 30px;
}

:root {
    --margin-end: 25px;
}

/* Utilities */


.container {
    max-width: 1100px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}




/* Header */
/* Upper-head style*/

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    
}
.upper-head {
    /* background-color: lightskyblue; */
    height: 80px;
}

nav.flex-container {
    align-items: center;
    height: 80px;
}

nav > span {
    /* background-color: goldenrod; */
    border: var(--border);
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}



.side-nav {
    flex-basis: 25%;
}

.main-nav {
    flex-basis: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

.main-nav a {
    margin-right: 25px;
}

.login {
    text-align: right;
}


/* Lower-head style */

.lower-head {
    /* min-height: 300px;*/
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.lower-head > div {
    min-height: 400px; /* punto di domanda: se metto height in % non lo prende, anche se il padre ha height fissa */
    width: 800px;
    /* background-color: pink; */
    border: var(--border);
    border-radius: 10px;
}

.lower-head a {
    padding: 15px 20px;
    text-align: center;
    border-radius: 2em;
    margin: 5px 0;
    font-weight: bold;
}

.lower-head h1 {
    text-align: center;
    font-size: 3.5em;
    margin: 1em 0;
}

.lower-head p {
    font-size: 1.3em;
}

.lower-head .flex-container {
    margin-top: 30px;
    justify-content: center;
    gap: 1em;
}


.mac-download-btn {
    color: black;
    background-color: white;
}

.open-discord-btn {
    background-color: black;
}





/* Main style */

/* Utilities for Main */

section {
    padding: 35px 0;
}

section img {
    margin-right: 35px;
}

/* sections with reversed row */
.row-reverse {
    flex-direction: row-reverse;
}
.odd {
    background-color: lightgrey;
}

/* Style for the content parts */

.bg-content {
    flex-basis: 60%;
    /* background-color: lightgreen; */
    border: var(--border);
}

.sm-content {
    flex-basis: 40%;
    /* background-color: red; */
    border: var(--border);
}

.sm-content h2 {
    font-size: 3em;
    margin-bottom: 0.7em;
}


.bg-content, .sm-content {
    padding: var(--inter-padding);
}

.container.flex-container > div {
    min-height: 400px;
    font-weight: bold;
    /* font-family: sans-serif; */
}

/* style for the last section of main */

.last-section > * {
    min-height: 800px;
    /* background-color: green; */
    border: var(--border);
    padding: var(--inter-padding);
    /* font-family: sans-serif; */
    text-align: center;
}

.last-section h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.7em;
}

.last-section img {
    width: 100%;
    margin-right: 0;
}

.last-section h3 {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 1em;
    /* background-image: url(../img/stars.svg); */
    /* background-size: contain; */
}

.last-section a {
    padding: 15px 20px;
    text-align: center;
    border-radius: 2em;
    margin: 5px 0;
    background-color: rgb(11, 113, 197);
    color: white;
}


/* Style for Footer elements */

footer {
    background-color: rgb(32, 32, 71);
    padding-top: 2.5em;
}

.info-box {
    border-bottom: 2px solid white;
}

footer h3 {
    color: lightskyblue;
}

.left-info h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.left-info img {
    width: 2em;
}

footer select {
    background-color: transparent;
    color: white;
    border: none;
    margin-bottom: 1em;
}

.right-info h3 {
    font-size: 1.3em;
}

/* First part of the footer */

.info-box {
    min-height: 600px;
    /* margin-bottom: var(--margin-end); */
}

.info-box i {
    color: white;
    margin-right: 0.7em;
    font-size: 1.5em;
}

.left-info {
    flex-basis: 25%;
    /* background-color: coral; */
    border: var(--border);
    border-radius: 15px 0 0 15px;
}

.right-info {
    flex-basis: 75%;
}

.right-item {
    flex-basis: 25%;
    /* background-color: aqua; */
    border: var(--border);
    border-color: white;
}

.right-item .flex-container {
    height: 100%;
    flex-direction: column;
    gap: 1em;
}

.right-item:last-child {
    border-radius: 0 15px 15px 0;
}



/* End of the footer */

.end {
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightskyblue; */
    /* margin-top: var(--margin-end); */
}

.end > span {
    /* background-color: pink; */
    padding: 5px 10px;
    border: var(--border);
    font-size: 20px;
    font-weight: 500;
}

.end a {
    padding: 5px 10px;
    border-radius: 2em;
    background-color: rgb(55, 143, 226);
    font-size: 1em;
}